@import url('./_variables.css');

/* Light Theme */
:root {
  /* text and icons colors */
  --color-base: var(--gray-500);
  --color-subtle: var(--gray-400);
  --color-base-hover: var(--gray-600);
  --color-emphasized: var(--indigo-gray-700);
  --color-disable: var(--gray-300);
  --color-accent: var(--olive-500);
  --color-accent-hover: var(--olive-600);
  --color-accent-active: var(--olive-700);
  --color-foreground: var(--olive-200);
  --color-inverse: var(--white);
  --color-link: var(--blue-500);
  --color-link-active: var(--blue-600);
  --color-link-visited: var(--purple-600);
  --color-success: var(--green-500);
  --color-info: var(--blue-500);
  --color-warning: var(--orange-700);
  --color-error: var(--red-500);

  /* background colors */
  --bgn-base: var(--gray-200);
  --bgn-surface: var(--white);
  --bgn-surface-hover: var(--gray-200);
  --bgn-disable: var(--gray-300);
  --bgn-accent: var(--olive-500);
  --bgn-accent-hover: var(--olive-600);
  --bgn-accent-active: var(--olive-700);
  --bgn-foreground: var(--olive-200);
  --bgn-danger: var(--red-500);
  --bgn-danger-hover: var(--red-600);
  --bgn-danger-active: var(--red-700);
  --bgn-info: var(--blue-100);
  --bgn-success: var(--olive-100);
  --bgn-warning: var(--orange-100);
  --bgn-error: var(--red-200);

  /* border colors */
  --border-color-base: var(--color-base);
  --border-color-subtle: var(--color-disable);
  --border-color-disable: var(--color-disable);
  --border-color-accent: var(--color-accent);
  --border-color-focus: var(--color-accent);
  --border-color-info: var(--color-info);
  --border-color-success: var(--color-success);
  --border-color-warning: var(--color-warning);
  --border-color-error: var(--color-error);

  /* border styles */
  --border-style-base: var(--border-width-04, 0.025rem) solid var(--border-color-base);
  --border-style-accent: var(--border-width-1, 0.0625rem) solid var(--border-color-accent);
  --border-style-focus: var(--border-width-2, 0.0625rem) solid var(--border-color-accent);
  --border-style-active: var(--border-width-1, 0.0625rem) solid var(--border-color-accent);
  --border-style-error: var(--border-width-1, 0.0625rem) solid var(--border-color-error);
  --border-style-success: var(--border-width-1, 0.0625rem) solid var(--border-color-success);

  --vp-c-bg: var(--bgn-surface);

  --vp-button-focus-outline: var(--border-style-focus); /* Borda do botão Start Using */
  
  --vp-button-brand-bg: var(--bgn-accent); /* Cor do botão Start Using */
  --vp-button-brand-hover-bg: var(--bgn-accent-hover); /* Cor do hover do botão Start Using */
  --vp-button-brand-active-bg: var(--bgn-accent-active); /* Cor do active do botão Start Using */

  --vp-button-alt-bg: var(--bgn-surface); /* Cor do botão GitHub*/
  --vp-button-alt-text: var(--color-base); /* Cor do texto do botão GitHub */
  --vp-button-alt-hover-bg: var(--bgn-surface-hover); /* Cor do hover do botão GitHub */
  --vp-button-alt-hover-text: var(--color-base-hover); /* Cor do texto do hover do botão GitHub */
  --vp-button-alt-active-bg: var(--color-accent-active); /* Cor do active do botão GitHub */
  --vp-button-alt-active-text: var(--bgn-surface); /* Cor do texto do active do botão GitHub */

  a {
    color: var(--color-base);
  }
  a:hover,
  a:focus,
  a:visited:hover,
  a:visited:focus {
    color: var(--color-link);
  }
  a:active {
    color: var(--color-link-active);
  }
}

.VPNavBar.hover {
  color: var(--color-accent);
}

.VPNavBar .VPNavBarMenuLink.active {
  color: var(--color-accent); /* cor quando o link está ativo */
  font-weight: bold;
}

/* Dark Mode */
.dark {
  /* text and icons colors */
  --color-base: var(--gray-300);
  --color-subtle: var(--gray-400);
  --color-base-hover: var(--gray-100);
  --color-emphasized: var(--base-white);
  --color-disable: var(--gray-500);
  --color-accent: var(--olive-400);
  --color-accent-hover: var(--olive-300);
  --color-accent-active: var(--olive-500);
  --color-foreground: var(--olive-700);
  --color-inverse: var(--gray-600);
  --color-link: var(--indigo-gray-400);
  --color-link-active: var(--blue-500);
  --color-link-visited: var(--purple-300);
  --color-success: var(--green-400);
  --color-info: var(--indigo-gray-400);
  --color-warning: var(--yellow-400);
  --color-error: var(--red-400);

  /* background colors */
  --bgn-base: var(--gray-700);
  --bgn-surface: var(--gray-600);
  --bgn-surface-hover: var(--gray-700);
  --bgn-disable: var(--gray-500);
  --bgn-accent: var(--olive-400);
  --bgn-accent-hover: var(--olive-300);
  --bgn-accent-active: var(--olive-500);
  --bgn-foreground: var(--olive-700);
  --bgn-danger: var(--red-400);
  --bgn-danger-hover: var(--red-500);
  --bgn-danger-active: var(--red-600);
  --bgn-info: var(--blue-700);
  --bgn-success: var(--olive-700);
  --bgn-warning: var(--orange-700);
  --bgn-error: var(--brown-600);

  /* border colors */
  --border-color-base: var(--color-base);
  --border-color-subtle: var(--color-disable);
  --border-color-disable: var(--color-disable);
  --border-color-accent: var(--color-accent);
  --border-color-focus: var(--color-accent);
  --border-color-info: var(--color-info);
  --border-color-success: var(--color-success);
  --border-color-warning: var(--color-warning);
  --border-color-error: var(--color-error);

  /* border styles */
  --border-style-base: var(--border-width-04, 0.025rem) solid var(--border-color-base);
  --border-style-accent: var(--border-width-1, 0.0625rem) solid var(--border-color-accent);
  --border-style-focus: var(--border-width-2, 0.0625rem) solid var(--border-color-accent);
  --border-style-active: var(--border-width-1, 0.0625rem) solid var(--border-color-accent);
  --border-style-error: var(--border-width-1, 0.0625rem) solid var(--border-color-error);
  --border-style-success: var(--border-width-1, 0.0625rem) solid var(--border-color-success);
}