@import url('./_variables.css');

/* Light Theme */
:root {
  /* text and icons colors */
  --color-base: var(--gray-500);
  --color-subtle: var(--gray-400);
  --color-base-hover: var(--gray-600);
  --color-emphasized: var(--indigo-gray-700);
  --color-disable: var(--gray-300);
  --color-accent: var(--olive-500);
  --color-accent-hover: var(--olive-600);
  --color-accent-active: var(--olive-700);
  --color-foreground: var(--olive-200);
  --color-inverse: var(--white);
  --color-link: var(--blue-500);
  --color-link-active: var(--blue-600);
  --color-link-visited: var(--purple-600);
  --color-success: var(--green-500);
  --color-info: var(--blue-500);
  --color-warning: var(--orange-700);
  --color-error: var(--red-500);

  /* background colors */
  --bgn-base: var(--gray-200);
  --bgn-surface: var(--white);
  --bgn-surface-hover: var(--gray-200);
  --bgn-disable: var(--gray-300);
  --bgn-accent: var(--olive-500);
  --bgn-accent-hover: var(--olive-600);
  --bgn-accent-active: var(--olive-700);
  --bgn-foreground: var(--olive-200);
  --bgn-danger: var(--red-500);
  --bgn-danger-hover: var(--red-600);
  --bgn-danger-active: var(--red-700);
  --bgn-info: var(--blue-100);
  --bgn-success: var(--olive-100);
  --bgn-warning: var(--orange-100);
  --bgn-error: var(--red-200);

  /* border colors */
  --border-color-base: var(--color-base);
  --border-color-subtle: var(--color-disable);
  --border-color-disable: var(--color-disable);
  --border-color-accent: var(--color-accent);
  --border-color-focus: var(--color-accent);
  --border-color-info: var(--color-info);
  --border-color-success: var(--color-success);
  --border-color-warning: var(--color-warning);
  --border-color-error: var(--color-error);

  /* border styles */
  --border-style-base: var(--border-width-04, 0.025rem) solid var(--border-color-base);
  --border-style-accent: var(--border-width-1, 0.0625rem) solid var(--border-color-accent);
  --border-style-focus: var(--border-width-2, 0.0625rem) solid var(--border-color-accent);
  --border-style-active: var(--border-width-1, 0.0625rem) solid var(--border-color-accent);
  --border-style-error: var(--border-width-1, 0.0625rem) solid var(--border-color-error);
  --border-style-success: var(--border-width-1, 0.0625rem) solid var(--border-color-success);

  --vp-c-bg: var(--bgn-surface);

  --vp-home-hero-name-color: var(--color-base); /* Cor do nome do projeto */
  --vp-local-search-highlight-bg: var(--color-accent); /* Cor de destaque do local search */

  /* Botão GitHub */
  .VPButton.alt {
    background: var(--bgn-surface); /* Cor do botão GitHub */
    color: var(--color-base); /* Cor do texto do botão GitHub */
  }
  
  .VPButton.alt:focus:not(:active) { /* Foco no botão GitHub se o botão não foi clicado*/
    outline: var(--vp-button-focus-outline); /* Borda do botão GitHub */
    border: var(--border-style-focus); /* Borda do botão GitHub */ 
    color: var(--color-base); /* Cor do texto do botão GitHub no foco */
  }
  .VPButton.alt:hover,
  .VPButton.alt:active {
    background: var(--bgn-surface-hover); /* Cor do hover do botão GitHub */
    color: var(--color-base-hover); /* Cor do texto do hover do botão GitHub */
    font-weight: bold; /* Deixa o texto em negrito no hover do botão GitHub */
  }

  .VPButton.brand,
  .VPButton.alt {
    border-radius: var(--border-radius-04, 0.25rem); /* Raio da borda do botão Start Using e GitHub */
  }
  
  /* Botão Start Using */
  .VPButton.brand {
    background-color: var(--bgn-accent);
    color: var(--bgn-surface);
  }
  .VPButton.brand:hover {
    color: var(--bgn-surface);
    background: var(--bgn-accent-hover);
  }
  .VPButton.brand:active {
    background: var(--bgn-accent-active);
  }
  .VPButton.brand:focus:not(:active) {
    background-color: var(--bgn-accent);
    border: var(--border-style-focus);
    color: var(--bgn-surface);
  }

  /* Link Styles */
  a {
    color: var(--color-base);
  }
  a:hover,
  a:focus,
  a:visited:hover,
  a:visited:focus {
    color: var(--color-link);
  }
  a:active {
    color: var(--color-link-active);
  }
  a:visited {
    color: var(--color-link-visited);
  }

  .outline-link,
  .outline-link:hover,
  .outline-link:visited{
    color: var(--color-base) !important; /* Cor do link de contorno */
  }

  .outline-link.active {
    color:var(--color-accent) !important;
  }

  .outline-marker {
    background: var(--color-accent); /* Cor do marcador de contorno */
  }

  /* Botão de pesquisa */
  .DocSearch-Button:hover {
    border: var(--border-style-focus); /* Borda do botão de pesquisa */
    border-color: var(--color-accent);
  }

  /* Tela de pesquisa */
  .shell .search-bar:focus-within {
    border-color: var(--color-accent) !important;
  }

  .shell .search-bar:hover {
    border-color: var(--color-accent) !important; /* Cor da borda do campo de pesquisa ao passar o mouse */
  }

  .toggle-layout-button:hover,
  .local-search-icon:hover{
    color: var(--color-accent) !important; /* Cor do ícone de pesquisa e do botão de layout */
  }

  /* Resultados da tela de pesquisa */
  a.result,
  a.result:visited,
  a.result:hover,
  a.result:focus-within,
  a.result span {
    color: var(--color-base);
    border-color: var(--colorbase);
  }
  
  /* Resultado em destaque/hover */
  a.result.selected,
  a.result.selected:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
  } 

  a.result.selected span{
    color: var(--color-accent);
  }
  a.result.selected span.text {
    font-weight: bold;
  }
  

  /* NavBar Styles - Não herda o estilo de link do tema */
  .VPNavBar.hover {
    color: var(--color-accent);
  }
  
  .VPNavBar a,
  .VPNavBarMenuLink {
    color: inherit;
    text-decoration: none;
  }

  .VPNavBar .VPMenu {
    background: var(--bgn-surface); /* cor do fundo no menu */
  }

  .VPNavBar .VPMenuLink .link {
    color: var(--color-base); /* cor do texto do link no menu */
  }

  .VPMenuLink .link:hover{
    background: var(--bgn-surface-hover); /* cor do texto do link no menu ao passar o mouse */
  }

  .VPNavBar a:hover,
  .VPNavBar a:focus,
  .VPNavBar a:visited,
  .VPNavBarMenuGroup .button:hover .text {
    color: inherit;
    text-decoration: none;
  }

  .VPNavBar .VPNavBarMenuLink.active,
  .VPNavBarMenuGroup.active .button .text,
  .VPNavBar .VPMenuLink .link.active {
    color: var(--color-accent) !important; /* cor quando o link está ativo */
    font-weight: bold;
  }
 
  .VPSidebarItem.is-active .link .text{
    color: var(--color-accent) !important; /* Cor do texto do item ativo do menu lateral */
    font-weight: bold;
  }

  .VPSidebarItem .link .text{
    color: var(--color-base) !important; /* Cor do texto do item do menu lateral */
  }
  
  .VPSwitch:hover,
  .VPSwitch:focus {
    border-color: var(--color-accent); /* Borda do botão de alternância */
  }

  
  .vpi-social-github{
    color: var(--color-base); /* Cor dos links sociais */
  }

  .pager .VPLink:hover,
  .pager .VPLink:focus {
    border-color: var(--color-accent); /* Borda do hover da paginação */

  }

  .pager .title {
    color: var(--color-accent); /* Cor do texto da paginação */
  }

  .header-anchor:hover,
  .header-anchor:focus,
  .header-anchor:visited {
    color: var(--color-accent);
  }

}

/* Dark Mode */
.dark {
  /* text and icons colors */
  --color-base: var(--gray-300);
  --color-subtle: var(--gray-400);
  --color-base-hover: var(--gray-100);
  --color-emphasized: var(--base-white);
  --color-disable: var(--gray-500);
  --color-accent: var(--olive-400);
  --color-accent-hover: var(--olive-300);
  --color-accent-active: var(--olive-500);
  --color-foreground: var(--olive-700);
  --color-inverse: var(--gray-600);
  --color-link: var(--indigo-gray-400);
  --color-link-active: var(--blue-500);
  --color-link-visited: var(--purple-300);
  --color-success: var(--green-400);
  --color-info: var(--indigo-gray-400);
  --color-warning: var(--yellow-400);
  --color-error: var(--red-400);

  /* background colors */
  --bgn-base: var(--gray-700);
  --bgn-surface: var(--gray-600);
  --bgn-surface-hover: var(--gray-700);
  --bgn-disable: var(--gray-500);
  --bgn-accent: var(--olive-400);
  --bgn-accent-hover: var(--olive-300);
  --bgn-accent-active: var(--olive-500);
  --bgn-foreground: var(--olive-700);
  --bgn-danger: var(--red-400);
  --bgn-danger-hover: var(--red-500);
  --bgn-danger-active: var(--red-600);
  --bgn-info: var(--blue-700);
  --bgn-success: var(--olive-700);
  --bgn-warning: var(--orange-700);
  --bgn-error: var(--brown-600);

  /* border colors */
  --border-color-base: var(--color-base);
  --border-color-subtle: var(--color-disable);
  --border-color-disable: var(--color-disable);
  --border-color-accent: var(--color-accent);
  --border-color-focus: var(--color-accent);
  --border-color-info: var(--color-info);
  --border-color-success: var(--color-success);
  --border-color-warning: var(--color-warning);
  --border-color-error: var(--color-error);

  /* border styles */
  --border-style-base: var(--border-width-04, 0.025rem) solid var(--border-color-base);
  --border-style-accent: var(--border-width-1, 0.0625rem) solid var(--border-color-accent);
  --border-style-focus: var(--border-width-2, 0.0625rem) solid var(--border-color-accent);
  --border-style-active: var(--border-width-1, 0.0625rem) solid var(--border-color-accent);
  --border-style-error: var(--border-width-1, 0.0625rem) solid var(--border-color-error);
  --border-style-success: var(--border-width-1, 0.0625rem) solid var(--border-color-success);
}
